<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <title>FindJob</title>
    <link rel="stylesheet" href="{% static 'job.css' %}" type="text/css">
</head>
<body id="content">
    <h1>
        <a href="https://pymi.vn/"> Vào đây để học Pymi</a>
    </h1>
    <a href="https://www.youtube.com/"> day la Youtube</a>
    <ul>
        {% for title in titles %}
            <p>
            <a href={{ title.url }}>{{ title.title }}</a>
            </p>
        {% endfor %}

    </ul>


</body>
</html>